{% extends "admin/base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block title %}Setting New password{% endblock %}
{% block extrastyle %}  
    <link rel="stylesheet" href="{% static 'gencoui/css/rndr-style.css' %}">
{% endblock %}
{% block extrajs %}
   <script type="text/javascript">
        $(document).ready(function() {
             window.onload = function() {
             $("#id_new_password1").focus();
            };  
        }); 
        </script> 
{% endblock %}
{% block content %}
    <div style="margin-top:100px; padding: 30px">
    {% if validlink %}
        <p>Please enter your new password twice.<br />
           So we can verify you typed it in correctly.</p>
        <form action="" method="post">
            <div style="display:none">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1">New password:</label></td>
                    <td>{{ form.new_password1|add_class:"form-control" }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2">Confirm password:</label></td>
                    <td>{{ form.new_password2|add_class:"form-control" }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <button class="btn btn-primary btn-sm" type="submit">Change my password</button>
                    </td>
                </tr>
            </table>
        </form>
    {% else %}
        <h1>Password reset unsuccessful</h1>
        <p>The password reset link was invalid, <br />
        possibly because it has already been used. <br />
        Please request a new password reset.</p>
    {% endif %}
    </div>
{% endblock %}