{% extends "admin/base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block title %}Reset password{% endblock %}
{% block extrastyle %}
	<link rel="stylesheet" href="{% static 'gencoui/css/rndr-style-dev.css' %}">
	<link rel="stylesheet" href="{% static 'gencoui/css/rndr-style.css' %}">
{% endblock %}

{% block extrajs %}

{% endblock %}

{% block content %}
<div style="margin-top:100px ; padding: 30px">
	<h3>Forgot your password</h3>
	<p>To reset your password, type the full email address you use to sign in to your account.</p>

	<form action="" method="post">
	    <div style="display:none">
	        <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
	    </div>
	     {{ form.email.errors }}
	    <label for="id_email">E-mail address:</label> {{ form.email }} 
	    <button class="btn btn-primary btn-sm" type="submit">Reset password</button>
	    <!-- <input type="submit" value="Reset password" /> -->
	</form>
</div>

{% endblock %}