#for $e in $entities
public class $e.name{
        
        #for $f in $e.fields
        private $f.typecnv $f.name
        #end for
        
        #for $f in $e.fields
        public $f.typecnv get$f.name () {
            return $f.name;
        }    
        #end for
        #for $f in $e.fields
        public void set$f.name ($f.typecnv  $f.name)  {
            this.$f.name = $f.name;
        }    
        #end for
}
$ [@ DAL/d 5-ee0aed79-743e-773/ @][@ DAL/d 5-4d77a618-d24b-3bf3 @][@ DAL/d 5-ee0aed79-743e-773/ @]
#end for