dao hff

$title

<form>
    #for $e in $entities
        $e.name
        #for $f in $e.fields
        $f.name
        <input type="$f.type"/>
        #end for
        #for $lnk in $e.links
            
        #end for
    #end for
</form>
