{% extends "admin/base.html" %}
{% load staticfiles %}
{% block title %}Render Developer{% endblock %}


{% block extrastyle %}
    <link rel="stylesheet" href="{% static 'gencoui/jstree/themes/default/style.min.css' %}" />
	<link rel="stylesheet" href="{% static 'gencoui/css/rndr-style-dev.css' %}">
	<link rel="stylesheet" href="{% static 'gencoui/css/rndr-style.css' %}">
{% endblock %}


{% block extrajs %}
	<script src="{% static 'gencoui/js/angular.min.js' %}"></script>
	<script src="{% static 'gencoui/js/angular-resource.min.js' %}"></script>
	<script src="{% static 'gencoui/js/rndr_module/app_builds.js' %}"></script>
	<script src="{% static 'gencoui/js/rndr_module/service_editor.js' %}"></script>
	<script src="{% static 'gencoui/js/rndr_module/service_builds.js' %}"></script>
	<script src="{% static 'gencoui/js/rndr_module/service_lang.js' %}"></script>
	<script src="{% static 'gencoui/js/rndr_module/service_entities.js' %}"></script>
	<script src="{% static 'gencoui/js/rndr_module/service_repository.js' %}"></script>
	<script type="text/javascript">
		$(function () {
		  $('[data-tt="tooltip"]').tooltip()
		});

		$('#example').popover('show');
	</script>

{% endblock %}

{% block extrahead %}    
    <script src="{% static 'gencoui/jstree/jstree.min.js' %}"></script>
{% endblock %}



{% block content %}
<div id="ctrl_editor" ng-app="app_editor" data-ng-init="init()" ng-controller="ctrl_editor" >
	<input hidden id="key_module" value="{{entorno.id_entorno}}"/>
	<input hidden id="key_project" value="{{proyecto.id_proyecto}}"/>
	<div class="container-fluid">
		<div class="well well-sm" style="margin-top:70px;">
			<img src="{% static 'gencoui/img/devicon/icons/'|add:entorno.icono %}" onerror="this.onerror=null; this.src='{% static 'gencoui/img/desing.png' %}'" width="32px" height="32px">
			{{entorno.nombre}} - {{proyecto.nombre}}</img>
			<div style="position: absolute;right: 30px; display:inline">
				{% verbatim %}
				<label>connected to </label>
				<span class="label label-default" ng-click="change_repository()" data-placement="bottom" data-tt="tooltip" title="Change Repository">{{repository_selected.data.nombre}}</span>
				
				<span  ng-if="repository_selected.data == null" class="label label-default" ng-click="change_repository()" data-placement="bottom" data-tt="tooltip" title="Select Repository">Select Repository</span>
				{% endverbatim %}
			</div>			
		</div>
	

	    <!-- <div class="" height="90%"> -->
			    
	    		<div class="col-sm-4" style="margin-top:20px; border-style:solid; min-height:300px; border-width:1px; border-color:#ccc;">


				    <div style="margin-top: 15px;">
				    	
				    	<h4 style="display:inline;margin-top: 10px;margin-right:10px">Components </h4>
	
				    </div>	

				    <div id="jstree">



				    </div>
				</div>  

				<div class="col-sm-4" style="margin-top:20px; border-style:solid; min-height:300px; border-width:1px; border-color:#ccc; border-left: none; border-right:none">


				    <div style="margin-top: 15px;">
				    	<h4 style="display:inline;margin-top: 10px;margin-right:10px">Folders </h4>
				    	<a class="btn btn-primary btn-xs" href="#" data-placement="bottom" data-tt="tooltip" title="Refresh the builds tree " ng-click="printTree()">
							Build
							<span class="glyphicon glyphicon-chevron-right" aria-hidden="true">				
						</a>
	
				    </div>	

				    <div id="jstreeFolders"></div>

				</div>

				<div class="col-sm-4" style="margin-top:20px; border-style:solid; min-height:300px; border-width:1px; border-color:#ccc">


				    <div style="margin-top: 15px;">
				    	<h4 style="display:inline;margin-top: 10px;margin-right:10px">Build </h4>
						<a class="btn btn-primary btn-xs" data-placement="bottom" data-tt="tooltip" title="Download files" ng-click="printTree()">
							Download
							<span class="glyphicon glyphicon-cloud-download" aria-hidden="true">				
						</a>
				    </div>	

				    <div id="jstreeBuilds"></div>

				</div>   
	    	
		<!-- </div> -->

	</div>



    <!-- Modal Templates -->
	<div class="modal fade" id="file-create-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">

	    <div class="modal-dialog  modal-lg">

	        <div class="modal-content">
		        <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
			     {% verbatim %}
		        <h4 class="modal-title">{{component_selected.nombre}} - add File</h4>
		        {% endverbatim %}
			    </div>
	          <!-- <div class="arrow-up"></div> -->
	          	<div class="modal-body">
	   				<form ng-submit="save_file()">
				   			{{ form_create_file.nombre.label_tag }}
							{{ form_create_file.nombre }}
							{{ form_create_file.descripcion.label_tag }}
							{{ form_create_file.descripcion }}
							<input type="file" file-model="myFile" id="fileInput" label/>
    						<!-- <button ng-click="uploadFile()">upload me</button> -->
    						<span></span>
    						<button type="submit" hidden></button>
							<pre id="fileDisplayArea"></pre>
    						<div id="editor" name="" class="editor"></div>
							
					</form>

	          	</div>
	          	<div class="modal-footer">
	          		<div style="display:inline">
		          		<a class="btn icon-btn btn-default" ng-click="save_file()" data-placement="bottom"data-tt="tooltip" title="Save">
							<span class="glyphicon btn-glyphicon glyphicon-floppy-disk img-circle" ></span>					
						</a>
					</div>	
					<div style="display:inline">	
						<a class="btn icon-btn btn-default"  ng-click="cancel()" data-placement="bottom"data-tt="tooltip" title="Cancel">
								<span class="glyphicon btn-glyphicon glyphicon-remove img-circle" ></span>					
						</a>
					</div>	
	          	</div>

	        </div>
	    </div>
	</div>


    <!-- Modal Templates -->
	<div class="modal fade" id="file-edit-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">

	    <div class="modal-dialog modal-lg">

	        <div class="modal-content">
		        <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
			     {% verbatim %}
		        <h4 class="modal-title">{{component_selected.nombre}} - edit File</h4>
		        {% endverbatim %}
			    </div>
	          <!-- <div class="arrow-up"></div> -->
	          	<div class="modal-body">
	   				<form ng-submit="update_file()">
				   			{{ form_create_file.nombre.label_tag }}
							{{ form_create_file.nombre }}
							{{ form_create_file.descripcion.label_tag }}
							{{ form_create_file.descripcion }}
    						<span></span>
    						<button type="submit" hidden></button>							
    						<div id="editor2" name="" class="editor"></div>
							
					</form>
	          	</div>
	          	<div class="modal-footer">
	          		<div style="display:inline">
		          		<a class="btn icon-btn btn-default" ng-click="update_file()" data-placement="bottom"data-tt="tooltip" title="Save">
							<span class="glyphicon btn-glyphicon glyphicon-floppy-disk img-circle" ></span>					
						</a>
					</div>	
					<div style="display:inline">	
						<a class="btn icon-btn btn-default"  ng-click="cancel()" data-placement="bottom"data-tt="tooltip" title="Cancel">
								<span class="glyphicon btn-glyphicon glyphicon-remove img-circle" ></span>					
						</a>
					</div>	
	          	</div>

	        </div>
	    </div>
	</div>


	    <!-- Modal Templates -->
	<div class="modal fade" id="folder-create-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">

	    <div class="modal-dialog">

	        <div class="modal-content">
		        <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
		        	<h4 class="modal-title">{{entorno.nombre}} - add Component</h4>
			    </div>	          
	          	<div class="modal-body">				
	          		<form ng-submit="save_directorio()">
						{{ form_create_folder }}
						<button type="submit" hidden></button>
					</form>
	          	</div>
	          	<div class="modal-footer">
	          		<div style="display:inline">
		          		<a class="btn icon-btn btn-default" ng-click="save_directorio()" data-placement="bottom"data-tt="tooltip" title="Save">
							<span class="glyphicon btn-glyphicon glyphicon-floppy-disk img-circle" ></span>					
						</a>
					</div>
					<div style="display:inline">	
						<a class="btn icon-btn btn-default"  ng-click="cancel()" data-placement="bottom"data-tt="tooltip" title="Cancel">
								<span class="glyphicon btn-glyphicon glyphicon-remove img-circle" ></span>					
						</a>
					</div>	
	          	</div>

	        </div>
	    </div>
	</div>


	    <!-- Modal Templates -->
	<div class="modal fade" id="folder-edit-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">

	    <div class="modal-dialog">

	        <div class="modal-content">
		        <div class="modal-header">
			    	<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
		        	<h4 class="modal-title">{{entorno.nombre}} - edit Component</h4>
			    </div>
	          <!-- <div class="arrow-up"></div> -->
	          	<div class="modal-body">
	   				<form ng-submit="update_directorio()">
						{{ form_create_folder }}
						<button type="submit" hidden></button>
					</form>
	          	</div>
	          	<div class="modal-footer">
	          		<div style="display:inline">
		          		<a class="btn icon-btn btn-default" ng-click="update_directorio()" data-placement="bottom"data-tt="tooltip" title="Save">
							<span class="glyphicon btn-glyphicon glyphicon-floppy-disk img-circle" ></span>					
						</a>
					</div>
					<div style="display:inline">
						<a class="btn icon-btn btn-default"  ng-click="cancel()" data-placement="bottom"data-tt="tooltip" title="Cancel">
								<span class="glyphicon btn-glyphicon glyphicon-remove img-circle" ></span>					
						</a>
					</div>
	          	</div>

	        </div>
	    </div>
	</div>



	    <!-- Modal Templates -->
	<div class="modal fade" id="folder-delete-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">

	    <div class="modal-dialog modal-sm">

	        <div class="modal-content">
		        <div class="modal-header">
			    	<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
		        	<h4 class="modal-title">Confirm</h4>
			    </div>	     
	          	<div class="modal-body">
	          		{% verbatim %}
	          		Do you really want to delete {{component_selected.nombre}} componenent?
	          		{% endverbatim %}
	          	</div>
	          	<div class="modal-footer">
	          		<div style="display:inline">
		          		<a class="btn icon-btn btn-default" ng-click="delete_component()" data-placement="bottom"data-tt="tooltip" title="Save">
							<span class="glyphicon btn-glyphicon glyphicon-ok img-circle" ></span>					
						</a>
					</div>
					<div style="display:inline">
						<a class="btn icon-btn btn-default"  ng-click="cancel()" data-placement="bottom"data-tt="tooltip" title="Cancel">
								<span class="glyphicon btn-glyphicon glyphicon-remove img-circle" ></span>					
						</a>
					</div>	
	          	</div>

	        </div>
	    </div>
	</div>



		    <!-- Modal Templates -->
	<div class="modal fade" id="file-delete-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">

	    <div class="modal-dialog modal-sm">

	        <div class="modal-content">
		        <div class="modal-header">
			    	<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
		        	<h4 class="modal-title">Confirm</h4>
			    </div>	     
	          	<div class="modal-body">
	          		{% verbatim %}
	          		Do you really want to delete {{template_selected.nombre}} template?
	          		{% endverbatim %}
	          	</div>
	          	<div class="modal-footer">
	          		<div style="display:inline">
		          		<a class="btn icon-btn btn-default" ng-click="delete_template()" data-placement="bottom"data-tt="tooltip" title="Save">
							<span class="glyphicon btn-glyphicon glyphicon-ok img-circle" ></span>					
						</a>
					</div>
					<div style="display:inline">
						<a class="btn icon-btn btn-default"  ng-click="cancel()" data-placement="bottom"data-tt="tooltip" title="Cancel">
								<span class="glyphicon btn-glyphicon glyphicon-remove img-circle" ></span>					
						</a>
					</div>	
	          	</div>

	        </div>
	    </div>
	</div>





	<div class="modal fade" id="repository-change-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">

	    <div class="modal-dialog modal-sm">

	        <div class="modal-content">
		        <div class="modal-header">
			    	<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
		        	<h4 class="modal-title">Select Repository</h4>
			    </div>	     
	          	<div class="modal-body">
	   				<form ng-submit="save_add_repository()">
						{% verbatim %}
							
								<label ng-repeat="repository in repositories">
									
									<input type="radio" name="repoSet" ng-model="repository_selected.data" ng-value="{{repository}}">{{repository.nombre}}
									
								</label>							
								
						<button type="submit" hidden></button>
					</form>

						{% endverbatim %}


	          	</div>
	          	<div class="modal-footer">
			<!-- 		<div style="display:inline">
						<a class="btn icon-btn btn-default"  ng-click="cancel()" data-placement="bottom"data-tt="tooltip" title="Close">
								<span class="glyphicon btn-glyphicon glyphicon-remove img-circle" ></span>					
						</a> -->
					<!-- </div>	 -->
	          	</div>

	        </div>
	    </div>
	</div>

	<div class="modal fade" id="template-entities-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">

	    <div class="modal-dialog modal-lg">

	        <div class="modal-content">
		        <div class="modal-header">
			    	<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
		        	<h4 class="modal-title">Select Entities</h4>
			    </div>	     
	          	<div class="modal-body">
	   				<!-- <form ng-submit="save_template_entity()"> -->
	   					{% verbatim %}
	   					<table  width="100%">
	   						<tr>
	   							<td style="padding-right: 10px;" valign="top" width="50%">
	   							
	   									<div class="list-group">							  
									  		<a class="list-group-item" style="text-decoration: none;" ng-repeat="entity in all_entities" ng-dblclick="add_entity($index)">
									  			<p class="list-group-item-text">{{entity.nombre}}</p>
									  		</a>
										</div>
	   					   								
								</td>
								<td style="padding-left: 10px;" valign="top">
									<div class="list-group"> 		
										<div class="list-group-item" ng-repeat="entity in entities_added" >
											<!-- <div class="modal-header">
										    	<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>									        
										    </div> -->
											<h4 class="list-group-item-heading">{{entity.entity.nombre}}</h4>
								  			<table style="margin-left:10px" width="100%">
								  				<tr ng-repeat="tag in template_tags">
								  					<td>{{tag}}
								  					</td>	
								  					<td>	
								  						<select>
								  							<option ng-repeat="scope in entity.scope | filter: greaterThan('entidad_ref', 0)">{{scope.entidad.nombre}}</option>
								  						</select>
								  					</td>
								  				</tr>								  			
								  			</table>
								  			<div class="modal-footer" style="padding-top: 10px; padding-bottom: 10px;">
	          									<div style="display:inline">
										  			<a class="btn btn-primary btn-xs" role="button" ng-click="save_entity_selecteds()">Save</a>
										  			<a class="btn btn-warning btn-xs" role="button">Remove</a>	
										  		</div>
										  	</div>	
								  		</div>	

		  								
									</div>
																	
								</td>
	   						</tr>
	   					</table>

							<!-- <div class="checkbox" ng-repeat="entity in all_entities">
								<label>
									<input type="checkbox" ng-model="entity_added[$index]" >{{entity.id_entidad}} {{entity.nombre}}
								</label>
								{{entity.nombre}}<a class="btn btn-default btn-xs" ng-click="get_template_entity($index)">select</a>

								<div  ng-repeat="field in all_references[$index] | filter: greaterThan('entidad_ref', 0) ">
									
									
									<p>{{field.entidad.nombre}}</p>
														      		
						      	</div>
								
							</div> -->



						
						{% endverbatim %}
<!-- 						<button type="submit" hidden></button>
					</form> -->
	          	</div>
	          	<div class="modal-footer">
	          		<div style="display:inline">
		          		<a class="btn icon-btn btn-default" ng-click="save_template_entity()" data-placement="bottom"data-tt="tooltip" title="Save">
							<span class="glyphicon btn-glyphicon glyphicon-ok img-circle" ></span>					
						</a>
					</div>
					<div style="display:inline">
						<a class="btn icon-btn btn-default"  ng-click="cancel()" data-placement="bottom"data-tt="tooltip" title="Cancel">
								<span class="glyphicon btn-glyphicon glyphicon-remove img-circle" ></span>					
						</a>
					</div>	
	          	</div>

	        </div>
	    </div>
	</div>

	<div class="modal fade" id="info-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">

	    <div class="modal-dialog modal-sm">

	        <div class="modal-content">
		        <div class="modal-header">
			    	<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
		        	<h4 class="modal-title">Confirm</h4>
			    </div>	     
	          	<div class="modal-body">
	          		{% verbatim %}
	          		{{globalMessage}}
	          		{% endverbatim %}
	          	</div>
	          	<div class="modal-footer">
	          		<div style="display:inline">
		          		<a class="btn icon-btn btn-default" ng-click="delete_template()" data-placement="bottom"data-tt="tooltip" title="Save">
							<span class="glyphicon btn-glyphicon glyphicon-ok img-circle" ></span>					
						</a>
					</div>
					<div style="display:inline">
						<a class="btn icon-btn btn-default"  ng-click="cancel()" data-placement="bottom"data-tt="tooltip" title="Cancel">
								<span class="glyphicon btn-glyphicon glyphicon-remove img-circle" ></span>					
						</a>
					</div>	
	          	</div>

	        </div>
	    </div>
	</div>


</div>

{% endblock %}



{% block extrafooter %}


    <script src="{% static 'gencoui/ace/src-noconflict/ace.js' %}" type="text/javascript" charset="utf-8"></script>
    
    <script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/eclipse");
    editor.getSession().setMode("ace/mode/python");
    editor.$blockScrolling = Infinity;


    var editor2 = ace.edit("editor2");
    editor2.setTheme("ace/theme/monokai");
    editor2.getSession().setMode("ace/mode/java");
    editor2.$blockScrolling = Infinity;

    // var editor3 = ace.edit("editor3");
    // editor3.setTheme("ace/theme/default");
    // editor3.getSession().setMode("ace/mode/java");
    // editor3.$blockScrolling = Infinity;
    </script>
 
  <script>
        
        $(function () {


			
		 //      $.get( "http://localhost:8000/gencoui/tree/1", function( data ) {
	
			// console.log(data.dirs);
	  //       $('#jstreeBuilds').jstree(true).settings.core.data = data.dirs;


	        
   //      	$('#jstreeBuilds').jstree(true).refresh();
			// });	
		    
	    });


	function getCode(){
		$.get( "http://localhost:8000/gencoui/tree/1", function( data ) {
		//editor.setValue(data);	
			console.log(data);
	        $('#jstreeBuilds').jstree(true).settings.core.data = data;
        	$('#jstreeBuilds').jstree(true).refresh();
		});	
	};


	function openFile(id_template){
		angular.element($("#ctrl_editor")).scope().addTab(id_template);
		angular.element($("#ctrl_editor")).scope().$apply();
		console.log(id_template);

	};


  </script>

{% endblock %}

