{% load staticfiles %}
<nav class="navbar navbar-default navbar-fixed-top" style="">
    <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            <a class="navbar-brand" href="#">
            <img alt="Brand" src="{% static 'gencoui/img/rndr/Generics_saturn.svg' %}" onerror="this.onerror=null; this.src='{% static 'gencoui/img/rndr/noimage.jpg' %}'" width="40px" data-toggle="modal" data-target="#myModal" sytle="top:10px">
            </a>          
        </div>
        <div style="float: right; margin-top:20px">
            {% if user.is_authenticated %}
                <p style="color:white; display:inline;">{{ user.get_username }} <a href="/logout">logout</a></p>
            {% else %}
                <p style="color:white; display:inline;">Welcome <a href="/login">login</a></p>
            {% endif %}
        </div>  
        <!-- Collect the nav links, forms, and other content for toggling -->
<!--         <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">

                <li>
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <span class="caret"></span>
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                        Angel Barrios           
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li><a href="#">Profile</a></li>                            
                            <li role="separator" class="divider"></li>
                            <li>
                                <div>
                                    <label class="radio-inline">
                                      <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">Group A
                                    </label>
                                    <label class="radio-inline">
                                      <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">Group B
                                    </label>                                    
                                    </div>                              
                            </li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Logout</a></li>  
                        </ul>
                    </div>  
                </li>
            </ul>
        </div> --><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->

</nav>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">

    <div class="modal-dialog" role="document"  style="margin-left: 10px; margin-top: 60px; max-width: 400px;">
        
        <div class="modal-content">
        <!--       <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Menu</h4>
          </div> -->
          <div class="arrow-up"></div>
          <div class="modal-body">
            <table width="100%">
                <tr>
                    <td width="60px" height="60px" onmouseover="this.style.background='#EBF4EB';" onmouseout="this.style.background='white';">
                        <div style="text-align:center" >
                            <a href="/gencoui/groups/add">
                                <img src="{% static 'gencoui/img/Generics.png' %}" width="48px" >
                            </a>
                        </div>
                    </td>
                    <td width="60px" height="60px" onmouseover="this.style.background='#EBF4EB';" onmouseout="this.style.background='white';">
                        <div style="text-align:center"><img src="{% static 'gencoui/img/pebro_black.png' %}" width="48px"></div></td>
                    <td width="60px" height="60px" onmouseover="this.style.background='#EBF4EB';" onmouseout="this.style.background='white';">
                        <div style="text-align:center"><img src="{% static 'gencoui/img/take_tool.png' %}" width="48px"></div></td>
                </tr>
                <tr>
                    <td width="60px" height="60px" onmouseover="this.style.background='#EBF4EB';" onmouseout="this.style.background='white';"><div style="text-align:center"><img src="{% static 'gencoui/img/take_tool.png' %}" width="48px"></div></td>
                    <td width="60px" height="60px" onmouseover="this.style.background='#EBF4EB';" onmouseout="this.style.background='white';"><div style="text-align:center"><img src="{% static 'gencoui/img/Generics.png' %}" width="48px"></div></td>
                    <td width="60px" height="60px" onmouseover="this.style.background='#EBF4EB';" onmouseout="this.style.background='white';"><div style="text-align:center"><img src="{% static 'gencoui/img/pebro_black.png' %}" width="48px"></div></td>
                </tr>
            </table>
            
          </div>

        </div>
    </div>
</div>