{% load staticfiles %}
{% load static %}
{% block extrajs %}

	<script type="text/javascript">
		$(function () {
		  $('[data-tt="tooltip"]').tooltip()
		});
	</script>
{% endblock %}
{% block content %}
<div id="ctrl_env" ng-controller="ctrl_env">
			    

	    		<!-- <div class="container-fluid" style=""> -->
					<div class="row">
						<div class="col-xs-12">
								
						</div>						
					</div>
					<div class="row">
						<div class="col-xs-12 col-sm-6">
						<div style="border: 1px solid #e3e3e3; border-radius: 4px; padding: 10px; margin-top: 20px; margin-left: 20px; background-color: rgba(236, 240, 241, 0.39);">
							
						<!-- 	<div id="jstreeEnvs">
				    		</div> -->
				    		<div style="margin-bottom: 15px; padding-top:10px;">
				    			Environment
							    <a class="btn icon-btn btn-default" role="button"  data-placement="bottom" data-tt="tooltip" title="Create Environment" ng-click="new()">
										<span class="glyphicon btn-glyphicon glyphicon-plus img-circle" ></span>					
								</a>	
						    </div>

				    		<table class="table table-condensed table-hover ">
							  <!-- <thead>
							    <tr>
							      <th>#</th>
							      <th>Column heading</th>
							      <th>Column heading</th>
							      <th>Column heading</th>
							    </tr>
							  </thead> -->
							  <tbody>
							  	{% verbatim %}
							  	
							    <tr ng-repeat="env in envs">
							      <td ng-click="load_env(env.id_entorno)">
							      	
							      	<img  ng-src="{{env.icon.upload}}" onerror="this.onerror=null; this.src='/static/gencoui/img/rndr/noimage.jpg'" width="24px" height="24px" style="display:inline;">
							      	</img>						      		
								   	
							      </td>
							      <td  ng-click="load_env(env.id_entorno)">
							      	<div style="color:#8c8c8c; font-size:10px; width: 100%; white-space: nowrap; 	overflow: hidden; text-overflow: ellipsis;">{{env.nombre}}
 										</div>
							      </td>
							    </tr>
							    {% endverbatim %}
						  	  </tbody>
							</table>

		    				<!-- <ul class="nav nav-tabs " role="tablist" >
								{% verbatim %}
								<li role="presentation" style="left:8px;" ng-repeat="env in envs" ng-class="{'active':selectedTab == $index}">
									<a class="rndr-pills" href="#env_panel" aria-controls="gwt" role="tab" ng-click="load_env(env.id_entorno)" data-toggle="tab">
										<img src="{{env.icon.upload}}" onerror="this.onerror=null; this.src='/static/gencoui/img/rndr/noimage.jpg'" width="32px" height="32px"/>
										<p style="display:inline;"><b>{{env.nombre}}</b></p>
									</a>

								</li>
								{% endverbatim %}	
							</ul -->
							
						</div>	
						</div>
						<div class="col-xs-12 col-sm-6" style="">
							<div style="min-height:300px;padding-top: 15px; padding-right: 15px; overflow:auto;">

								<div class="panel panel-default" style="border:none; background-color:transparent" ng-if="GencoEntorno.id_entorno!=null">
						
									<div class="" style=""> 

										{% verbatim %}
										<img ng-src="{{icono}}" onerror="this.onerror=null; this.src='/static/gencoui/img/rndr/noimage.jpg'" width="32px" height="32px" >
										{% endverbatim %}
										<div class="rndr_title" style="display:inline">
											<!-- <image src="{% static 'gencoui/img/gwt.jpg' %}" width="32px" height="32px"></image> -->
											<p style="font-size:12px; display:inline;" ng-bind="nombre"></p>
										</div>
										
										<div class="dropdown" style="display:inline; float: right">
										  <button class="btn btn-default dropdown-toggle btn-xs" type="button" id="dropEnvOptions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
										    Options
										    <span class="caret"></span>
										  </button>
										  <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
										    <li>
										    	<a href="#" ng-click="edit()">				
										    	<img src="{% static 'gencoui/img/rndr/editenv_shortcut.svg' %}" onerror="this.onerror=null; this.src='{% static 'gencoui/img/rndr/noimage.jpg' %}'" width="32px" height="32px" style="display:inline;">
												</img>
												Edit
										    	</a>
										    </li>
										    <li>
										    	<a id="lnkToEditorFull" href="#" ng-click="goEditor()">
										    		<img src="{% static 'gencoui/img/rndr/design_shortcut.svg' %}" onerror="this.onerror=null; this.src='{% static 'gencoui/img/rndr/noimage.jpg' %}'" width="32px" height="32px" style="display:inline;">
													</img>	
													Templates
										    	</a>
										    </li>
										    <!-- <li >
										    	<a id="lnkToBuildsFull" href="#" ng-click="chooseBuild()">						    	
										    		<img src="{% static 'gencoui/img/rndr/build_shortcut.svg' %}" onerror="this.onerror=null; this.src='{% static 'gencoui/img/rndr/noimage.jpg' %}'" width="32px" height="32px" style="display:inline;">
													</img>
													Build
												</a>
											</li> -->
										    <li role="separator" class="divider"></li>
										    <li>
										    	<a href="#" ng-click="remove()">
										    		<img src="{% static 'gencoui/img/rndr/removeenv_shortcut.svg' %}" onerror="this.onerror=null; this.src='{% static 'gencoui/img/rndr/noimage.jpg' %}'" width="32px" height="32px" style="display:inline;">
													</img>
										    		Remove
										    	</a>
										    </li>
										  </ul>
										</div>


																				
										
										<div class="rndr_env_desc">

											<!-- <image src="{% static 'gencoui/img/gwt.jpg' %}" width="32px" height="32px"></image> -->
											<p style="font-size:10px" ng-bind="descripcion"></p>
										</div>
										<table>
							                <tr>
							                 <!--    <td width="75px" height="60px" onmouseover="this.style.background='rgba(33, 125, 187, 0.14)';" onmouseout="this.style.background='transparent';"  data-placement="bottom" data-tt="tooltip" title="Design Templates">
							                    	<div style="text-align:center">
							                    		<img src="{% static 'gencoui/img/desing.png' %}" width="32px">
							                    	</div>
							                    </td>
							                    <td width="75px" height="60px" onmouseover="this.style.background='rgba(33, 125, 187, 0.14)';" onmouseout="this.style.background='transparent';" data-placement="bottom" data-tt="tooltip" title="Build Source">
							                    	<div style="text-align:center">
							                    		<img src="{% static 'gencoui/img/build.png' %}" width="32px">
							                    	</div>
							                    </td> -->
							                </tr>
						            	</table>
										
							  			<div style="padding: 10px; " >
											<!-- <p style="display:inline;">Langs</p> -->
											<p style="display:inline;width:50px">Langs</p>
								  			<!-- <button style="display:inline;" type="button" class="btn btn-default btn-lg btn-circle-sm">
								        		<span class="glyphicon btn-glyphicon glyphicon-thumbs-up img-circle text-primary"></span>
								        	 </button>-->

								        	<a class="btn icon-btn btn-default" role="button" data-toggle="modal" data-target="#lang-add-modal" data-placement="bottom" data-tt="tooltip" title="Add Language" ng-click="all_lang_init()">
												<span class="glyphicon btn-glyphicon glyphicon-check img-circle" ></span>					
											</a>


	<!-- 										<table class="table table-bordered" style="margin-top: 20px;" ng-if="langs.length>0">
											  	<tbody >
											  		{% verbatim %}
													<tr  ng-repeat="lang in langs">
											      		<td>
											      			<img  ng-src="{{lang.lang.icon.upload}}" onerror="this.onerror=null; this.src='/static/gencoui/img/rndr/noimage.jpg'" width="24px" height="24px" style="margin-right: 10px;"/>	
											      			{{lang.lang.nombre}}
											      		</td>

											      	</tr>
											      	{% endverbatim %}	
										  	  	</tbody>
											</table>  -->

											<div style="border: 1px solid #e3e3e3;border-radius: 4px;padding: 10px; margin-top: 20px;  background-color:rgba(236, 240, 241, 0.39);">
												<div  ng-repeat="lang in langs" style="display:inline">
											      			{% verbatim %}
											      			<!-- <div class="rndr-envcard"> -->
											      				<!-- <img  ng-src="{{lang.lang.icon.upload}}" onerror="this.onerror=null; this.src='/static/gencoui/img/rndr/noimage.jpg'" width="24px" height="24px" style="margin-right: 10px;"/>	 -->
											      				
											      				<span class="label label-default">{{lang.lang.nombre}}</span>
											      			<!-- </div> -->

											      			{% endverbatim %}
											    </div>
											</div>	

										</div>


					
									</div>	

								</div>			
							 
											    
							</div>
						</div>
					</div>



				    



				<!-- </div>    -->





<!-- Modal Environments -->
<div class="modal fade" id="env-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">

    <div class="modal-dialog">

        <div class="modal-content">
	        <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title">Add Environment</h4>
		    </div>
          <!-- <div class="arrow-up"></div> -->
          	<div class="modal-body">
   
   	   				<form ng-submit="saveOrUpdate()">
						{{ form_add_env }}
						<img id="imgEnvIconAdd" src="/static/gencoui/img/rndr/noimage.jpg" width="32px" height="32px" style="margin: 8px"/>

						<div>
					
							{% verbatim %}
							<div class="modal-footer">							
								<div class="checkbox" ng-repeat="icon in langIconos" style="display:inline;margin: 8px">

									<img class="rndr-scale" ng-src="{{icon.upload}}" width="32px" height="32px" ng-click="setEnvIcon(icon)"/>
									
								</div>
							</div>	
							{% endverbatim %}	
						</div>
						<button type="submit" hidden></button>
					</form>			

          	</div>
          	<div class="modal-footer">
          		<div style="display:inline">
	          		<a class="btn icon-btn btn-default" ng-click="saveOrUpdate()" data-placement="bottom"data-tt="tooltip" title="Save">
						<span class="glyphicon btn-glyphicon glyphicon-floppy-disk img-circle" ></span>					
					</a>
				</div>
				<div style="display:inline">	
					<a class="btn icon-btn btn-default" data-dismiss="modal" data-placement="bottom"data-tt="tooltip" title="Cancel">
							<span class="glyphicon btn-glyphicon glyphicon-remove img-circle" ></span>					
					</a>
				</div>	
          	</div>

        </div>
    </div>
</div>

<!-- Modal Environments -->
<div class="modal fade" id="lang-add-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">

    <div class="modal-dialog">

        <div class="modal-content">
	        <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title">Add Language</h4>

		    </div>
          <!-- <div class="arrow-up"></div> -->
          	<div class="modal-body">
   			{% verbatim %}
				<div class="checkbox" ng-repeat="lang in all_langs">
					<label>
						
						<input type="checkbox" ng-model="lang_added[$index]">{{lang.nombre}}
						
					</label>
					
				</div>
				
			{% endverbatim %}
          	</div>
          	<div class="modal-footer">
				<div style="display:inline">
	          		<a class="btn icon-btn btn-default" ng-click="save_add_lang()" data-placement="bottom"data-tt="tooltip" title="Save">
						<span class="glyphicon btn-glyphicon glyphicon-floppy-disk img-circle" ></span>					
					</a>
				</div>
				<div style="display:inline">
					<a class="btn icon-btn btn-default"  ng-click="cancel()" data-placement="bottom"data-tt="tooltip" title="Cancel">
							<span class="glyphicon btn-glyphicon glyphicon-remove img-circle" ></span>					
					</a>
				</div>
          	</div>

        </div>
    </div>
</div>


<div class="modal fade" id="create-project-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">

    <div class="modal-dialog">

        <div class="modal-content">
	        <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title">Create Project</h4>
		    </div>
          <!-- <div class="arrow-up"></div> -->
          	<div class="modal-body">
   
   	   				<form ng-submit="save_project()">
						{{ form_project }}				
						<button type="submit" hidden></button>
					</form>			

          	</div>
          	<div class="modal-footer">
          		<div style="display:inline">
	          		<a class="btn icon-btn btn-default" ng-click="save_project()" data-placement="bottom"data-tt="tooltip" title="Save">
						<span class="glyphicon btn-glyphicon glyphicon-floppy-disk img-circle" ></span>					
					</a>
				</div>
				<div style="display:inline">	
					<a class="btn icon-btn btn-default" data-dismiss="modal" data-placement="bottom"data-tt="tooltip" title="Cancel">
							<span class="glyphicon btn-glyphicon glyphicon-remove img-circle" ></span>					
					</a>
				</div>	
          	</div>

        </div>
    </div>
</div>          	

<div class="modal fade" id="info-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">

    <div class="modal-dialog" >

        <div class="modal-content" style="padding: 20px;margin: 20px 0;border-left-width: 20px;border-radius: 3px; border-left-color: #ce4844;">
	        <div class="modal-header">
		    	<button type="button" class="close" data-dismiss="modal" aria-label="Close" ><span aria-hidden="true">&times;</span></button>
	        	<h4 class="modal-title">Information</h4>
		    </div>	     
          	<div id="imConfirm" class="modal-body">
          	</div>
          	<div class="modal-footer">
				<div style="display:inline">
					<a class="btn icon-btn btn-default"  data-dismiss="modal" data-placement="bottom"data-tt="tooltip" title="Close">
							<span class="glyphicon btn-glyphicon glyphicon-remove img-circle" ></span>					
					</a>
				</div>	
          	</div>

        </div>
    </div>
</div>

<div class="modal fade" id="confirm-delete-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">

    <div class="modal-dialog">

        <div class="modal-content" style="padding: 20px;margin: 20px 0;border-left-width: 20px;border-radius: 3px; border-left-color: #ffb612;">
	        <div class="modal-header">
		    	<button type="button" class="close" data-dismiss="modal" aria-label="Close" ><span aria-hidden="true">&times;</span></button>
	        	<h4 class="modal-title">Confirm</h4>
		    </div>	     
          	<div id="tedmConfirm" class="modal-body">

          	</div>
          	<div class="modal-footer">
          		<div style="display:inline">
	          		<a class="btn icon-btn btn-default" ng-click="confirm_delete()" data-placement="bottom"data-tt="tooltip" title="Save">
						<span class="glyphicon btn-glyphicon glyphicon-ok img-circle" ></span>					
					</a>
				</div>
				<div style="display:inline">
					<a class="btn icon-btn btn-default"  data-dismiss="modal" data-placement="bottom"data-tt="tooltip" title="Close">
							<span class="glyphicon btn-glyphicon glyphicon-remove img-circle" ></span>					
					</a>
				</div>	
          	</div>

        </div>
    </div>
</div>


</div>



{% endblock %}
