{% load staticfiles %}
{% block content %}
<div id="ctrl_env" ng-app="app_env" ng-controller="ctrl_env">
			    

	    		<div class="container-fluid" style="">				   
				    
				    <div style="margin-bottom: 15px;">
				    	<p style="display:inline;">Environment </p>
					    <a class="btn icon-btn btn-default" role="button" data-toggle="modal" data-target="#env-add-modal" data-placement="bottom" data-tt="tooltip" title="Create Environment" ng-click="new()">
								<span class="glyphicon btn-glyphicon glyphicon-plus img-circle" ></span>					
						</a>	
				    </div>	

  				    <div id="jstreeEnvs">
				    </div>


    				<ul class="nav nav-tabs " role="tablist" >
						{% verbatim %}
						<li role="presentation" style="left:8px;" ng-repeat="env in envs" ng-class="{'active':selectedTab == $index}">
							<a class="rndr-pills" href="#env_panel" aria-controls="gwt" role="tab" ng-click="load_env(env.id_entorno)" data-toggle="tab">
								<img src="{{env.icon.upload}}" onerror="this.onerror=null; this.src='/static/gencoui/img/rndr/noimage.jpg'" width="32px" height="32px"/>
								<p style="display:inline;"><b>{{env.nombre}}</b></p>
							</a>

						</li>
						{% endverbatim %}	
					</ul>
				</div>   



			<div style="width: 90%;height:300px;margin-left: 5%;overflow:auto">

				<div class="panel panel-default" style="border:none" ng-if="envs.length > 0">
		
					<div class="panel-body" style=""> 
						<table>
			                <tr>
			                 <!--    <td width="75px" height="60px" onmouseover="this.style.background='rgba(33, 125, 187, 0.14)';" onmouseout="this.style.background='transparent';"  data-placement="bottom" data-tt="tooltip" title="Design Templates">
			                    	<div style="text-align:center">
			                    		<img src="{% static 'gencoui/img/desing.png' %}" width="32px">
			                    	</div>
			                    </td>
			                    <td width="75px" height="60px" onmouseover="this.style.background='rgba(33, 125, 187, 0.14)';" onmouseout="this.style.background='transparent';" data-placement="bottom" data-tt="tooltip" title="Build Source">
			                    	<div style="text-align:center">
			                    		<img src="{% static 'gencoui/img/build.png' %}" width="32px">
			                    	</div>
			                    </td> -->
			                </tr>
		            	</table>
						<div class="rndr_env_desc">
							<!-- <image src="{% static 'gencoui/img/gwt.jpg' %}" width="32px" height="32px"></image> -->
							<p style="font-size:14px" ng-bind="descripcion"></p>
						</div>					


			  			<div style="padding: 10px;">
							<!-- <p style="display:inline;">Langs</p> -->
							<p style="display:inline;">Langs</p>
				  			<!-- <button style="display:inline;" type="button" class="btn btn-default btn-lg btn-circle-sm">
				        		<span class="glyphicon btn-glyphicon glyphicon-thumbs-up img-circle text-primary"></span>
				        	 </button>-->

				        	<a class="btn icon-btn btn-default" role="button" data-toggle="modal" data-target="#lang-add-modal" data-placement="bottom" data-tt="tooltip" title="Add Language" ng-click="all_lang_init()">
								<span class="glyphicon btn-glyphicon glyphicon-check img-circle" ></span>					
							</a>


							<table class="table table-bordered" style="margin-top: 20px;">
							  	<!-- <thead>
							    	<tr style="margin-top:10px">
							      		<th></th>
							    	</tr>
							  	</thead> -->
							  	<tbody >
							  		{% verbatim %}
									<tr  ng-repeat="lang in langs">
							      		<td>{{lang.lang.nombre}}</td>
							      		<!-- <td  width="15px">
							      			<a href="#" class="list-group-item list-group-item-success">Types</a>	
							      		</td> -->
							      		<!-- <td width="15px">
											<a class="btn icon-btn btn-default" href="#">
											<span class="glyphicon btn-glyphicon glyphicon-minus img-circle" ></span>
											</a>
							      		</td> -->
							      	</tr>
							      	{% endverbatim %}	
						  	  	</tbody>
							</table> 

						</div>						
					</div>	

				</div>			
		 
					    
	</div>

<!-- Modal Environments -->
<div class="modal fade" id="env-add-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">

    <div class="modal-dialog">

        <div class="modal-content">
	        <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title">Add Environment</h4>
		    </div>
          <!-- <div class="arrow-up"></div> -->
          	<div class="modal-body">
   
			{{ form_add_env }}

				<img id="imgEnvIcon" src="/static/gencoui/img/rndr/noimage.jpg" width="32px" height="32px" style="margin: 8px"/>

				<div>
			
					{% verbatim %}
					<div class="modal-footer">							
						<div class="checkbox" ng-repeat="icon in langIconos" style="display:inline;margin: 8px">

							<img class="rndr-scale" src="{{icon.upload}}" width="32px" height="32px" ng-click="setEnvIcon(icon)"/>
							
						</div>
					</div>	
					{% endverbatim %}	
				</div>

          	</div>
          	<div class="modal-footer">
          		<a class="btn icon-btn btn-default" ng-click="save()" data-placement="bottom"data-tt="tooltip" title="Save">
					<span class="glyphicon btn-glyphicon glyphicon-floppy-disk img-circle" ></span>					
				</a>
				<a class="btn icon-btn btn-default"  ng-click="cancel()" data-placement="bottom"data-tt="tooltip" title="Cancel">
						<span class="glyphicon btn-glyphicon glyphicon-remove img-circle" ></span>					
				</a>
          	</div>

        </div>
    </div>
</div>
          	

<!-- Modal Environments -->
<div class="modal fade" id="env-edit-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">

    <div class="modal-dialog">

        <div class="modal-content">
	        <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title">Edit Environment</h4>
		    </div>
          <!-- <div class="arrow-up"></div> -->
          	<div class="modal-body">
   
			{{ form_add_env }}

          	</div>
          	<div class="modal-footer">
          		<a class="btn icon-btn btn-default" ng-click="update()">
					<span class="glyphicon btn-glyphicon glyphicon-floppy-disk img-circle" ></span>					
				</a>
				<a class="btn icon-btn btn-default"  ng-click="cancel()" data-placement="bottom"data-tt="tooltip" title="Cancel">
						<span class="glyphicon btn-glyphicon glyphicon-remove img-circle" ></span>					
				</a>
          	</div>

        </div>
    </div>
</div>


<!-- Modal Environments -->
<div class="modal fade" id="env-remove-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">

    <div class="modal-dialog">

        <div class="modal-content">
	        <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title">Edit Environment</h4>
		    </div>
          <!-- <div class="arrow-up"></div> -->
          	<div class="modal-body">
   
			{{ form_add_env }}

          	</div>
          	<div class="modal-footer">
          		<a class="btn icon-btn btn-default" ng-click="update()">
					<span class="glyphicon btn-glyphicon glyphicon-floppy-disk img-circle" ></span>					
				</a>
				<a class="btn icon-btn btn-default"  ng-click="cancel()" data-placement="bottom"data-tt="tooltip" title="Cancel">
						<span class="glyphicon btn-glyphicon glyphicon-remove img-circle" ></span>					
				</a>
          	</div>

        </div>
    </div>
</div>

<!-- Modal Environments -->
<div class="modal fade" id="lang-add-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">

    <div class="modal-dialog">

        <div class="modal-content">
	        <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title">Add Language</h4>

		    </div>
          <!-- <div class="arrow-up"></div> -->
          	<div class="modal-body">
   			{% verbatim %}
				<div class="checkbox" ng-repeat="lang in all_langs">
					<label>
						
						<input type="checkbox" ng-model="lang_added[$index]">{{lang.nombre}}
						
					</label>
					
				</div>
				
			{% endverbatim %}
          	</div>
          	<div class="modal-footer">
          		<a class="btn icon-btn btn-default"  ng-click="" data-placement="bottom"data-tt="tooltip" title="Go to Languages">
						<span class="glyphicon btn-glyphicon glyphicon-comment img-circle"></span>					
				</a>
          		<a class="btn icon-btn btn-default" ng-click="save_add_lang()" data-placement="bottom"data-tt="tooltip" title="Save">
					<span class="glyphicon btn-glyphicon glyphicon-floppy-disk img-circle" ></span>					
				</a>
				<a class="btn icon-btn btn-default"  ng-click="cancel()" data-placement="bottom"data-tt="tooltip" title="Cancel">
						<span class="glyphicon btn-glyphicon glyphicon-remove img-circle" ></span>					
				</a>
          	</div>

        </div>
    </div>
</div>

</div>



{% endblock %}
