{% extends "admin/base.html" %}
{% load staticfiles %}
{% block title %}Render Developer{% endblock %}


{% block extrastyle %}
    <link rel="stylesheet" href="{% static 'gencoui/jstree/themes/default/style.min.css' %}" />
	<link rel="stylesheet" href="{% static 'gencoui/css/rndr-style-dev.css' %}">
	<link rel="stylesheet" href="{% static 'gencoui/css/rndr-style.css' %}">
{% endblock %}


{% block extrajs %}
	<script src="{% static 'gencoui/js/angular.min.js' %}"></script>
	<script src="{% static 'gencoui/js/angular-resource.min.js' %}"></script>
	<script src="{% static 'gencoui/js/rndr_module/app_editor.js' %}"></script>
	<script src="{% static 'gencoui/js/rndr_module/service_lang.js' %}"></script>
	<script type="text/javascript">
		$(function () {
		  $('[data-tt="tooltip"]').tooltip()
		});

		$('#example').popover('show');
	</script>
{% endblock %}

{% block extrahead %}    
    <script src="{% static 'gencoui/jstree/jstree.min.js' %}"></script>
    <script>
    
		$(document).ready(function () {
		    var i = 0;
		    var dragging = false;
		    var dragging1 = false;
		    $('#dragbar').mousedown(function (e) {
		        e.preventDefault();
		        dragging = true;
		        var main = $('#main');
		        var sidebar = $('#sidebar');
		        var ghostbar = $('<div>', {
		            id: 'ghostbar',
		            css: {
		                height: sidebar.outerHeight(),
		                top: main.offset().top,
		                left: main.offset().left
		            }
		        }).appendTo('body');
		        $(document).mousemove(function (e) {
		            ghostbar.css("left", e.pageX + 5);
		        });
		    });

		    $('#dragbar1').mousedown(function (e) {
		        e.preventDefault();
		        dragging1 = true;
		        var main1 = $('#main1');
		        var sidebar = $('#sidebar'); 
		        console.log('first ' + sidebar.width());		     
		        var ghostbar1 = $('<div>', {
		            id: 'ghostbar1',
		            css: {
		                height: main1.outerHeight(),
		                top: main1.offset().top,
		                left: main1.offset().left
		            }
		        }).appendTo('body');
		        console.log(e);
		        console.log(e.pageX);
		        $(document).mousemove(function (e) {
		        	console.log(e.pageX);		     
		            ghostbar1.css("left", e.pageX + 5);
		        });

		        
		    });


		    $(document).mouseup(function (e) {
		        if (dragging) {
		            $('#sidebar').css("width", e.pageX + 2);
		            $('#main').css("left", e.pageX + 2);
		            $('#ghostbar').remove();
		            $(document).unbind('mousemove');
		            dragging = false;
		        }

		        if (dragging1) {
		        	var sidebar = $('#sidebar'); 
		        	console.log('width ' + sidebar.width());
		            $('#sidebar1').css("width", e.pageX-sidebar.width() + 2);
		            $('#main1').css("left", e.pageX -sidebar.width() + 2);
		            $('#ghostbar1').remove();
		            $(document).unbind('mousemove');
		            dragging1 = false;
		        }
		    });
		
		   
		});

    </script>

{% endblock %}



{% block content %}
<div id="ctrl_editor" ng-app="app_editor" ng-controller="ctrl_editor">
	    <div id="sidebar" >
	    	<span id="position"></span>
	    	<div id="dragbar"></div>			    

	    		<div class="container-fluid">
					    <div class="well well-sm">
					    	
					       	<!-- <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
					        <span class="label label-default" style="max-width: 30px;">Generic Django</span>
							<button type="button" class="btn btn-default btn-sm" aria-label="Left Align">
						    	<span class="glyphicon glyphicon-cloud-download" aria-hidden="true"></span>
						    </button>
						    <button type="button" class="btn btn-default btn-sm" aria-label="Left Align">
						    	<span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
						    </button>			 -->
						    <h3 style="display:inline;"><span class="label label-primary">GWT</span></h3>
							
					    </div>

					   
				    <!-- <span class="glyphicon glyphicon-folder-open" aria-hidden="true" style="padding-left: 8px;"></span> -->
				    <div style="margin-bottom: 15px;">
				    	<h4 style="display:inline;margin-top: 10px;margin-right:10px">Components </h4>
					    <a class="btn icon-btn btn-default" href="#" data-placement="bottom" data-tt="tooltip" title="Create Component" ng-click="new_lang()">
								<span class="glyphicon btn-glyphicon glyphicon-plus img-circle" ></span>					
						</a>	
				    </div>	
   

				    <div id="jstree" style="padding-left: 8px;" class="well">
					    <ul>
					    	{% verbatim %}
					      <li  id="component{{$index}}" data-renderas='component{{$index}}' data-jstree='{"icon":"glyphicon glyphicon-cog"}' ng-repeat="comp in components">{{comp.nombre}}
					        <ul>         
					          <li id="archive1" data-renderas='archive' data-jstree='{"icon":"glyphicon glyphicon-file"}' ondblclick="getCode();">OrmFile</li>
					          <li id="archive2" data-renderas='archive' data-jstree='{"icon":"glyphicon glyphicon-file"}'>DaoFile</li>
					          <li id="archive3" data-renderas='archive' data-jstree='{"icon":"glyphicon glyphicon-file"}'>CtrlFile</li>
					        </ul>
					      </li>
					      {% endverbatim %}
					      <!-- <li id="component2" data-renderas='component' data-jstree='{"icon":"glyphicon glyphicon-cog"}' >Components2
					      </li> -->
					    </ul>
				    </div>
				</div>   
	    	
		</div>

	    <div id="main">
	    	<div class="container-fluid">
				<div id="rendertoolba" class="well well-sm">
					<a class="btn icon-btn btn-default" href="#" data-placement="bottom" data-tt="tooltip" title="Save Template" ng-click="">
								<span class="glyphicon btn-glyphicon glyphicon-floppy-disk img-circle" ></span>					
					</a>			    
					<a class="btn icon-btn btn-default" href="#" data-placement="bottom" data-tt="tooltip" title="Preview" ng-click="">
								<span class="glyphicon btn-glyphicon glyphicon-eye-open img-circle" ></span>					
					</a>
				</div>
			</div>	

			<div role="tabpanel" >

				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" style="left:8px;"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Template A</a></li>
					<li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Template B</a></li>
				</ul>

				  <!-- Tab panes -->
				<div class="tab-content">
				    <div role="tabpanel" class="tab-pane active" id="home">
					<!-- 	<div id="sidebar1" >
		    				<span id="position1"></span> -->
				    		<!-- <div id="dragbar1"></div> -->
				    			<div >
					    			<div id="editor" class="editor">function foo(items) {
									var x = "All this is syntax highlighted";
									return x;
									}
									</div>
								</div>
						<!-- </div> -->
<!-- 						<div id="main1" >
			    			
				    	</div>		 -->	
				    </div>
				    <div role="tabpanel" class="tab-pane" id="profile">
							<div >
			    				<div id="editor2" class="editor2">function foo(items) {
									var x = "All this is syntax highlighted";
									return x;
									}
								</div>
							</div>
				    </div>

			  	</div>

			</div>
							
		 
	
	    </div>

</div>

{% endblock %}



{% block extrafooter %}


    <script src="{% static 'gencoui/ace/src-noconflict/ace.js' %}" type="text/javascript" charset="utf-8"></script>
    
    <script>
    var editor = ace.edit("editor");
    //editor.setTheme("ace/theme/default");
    editor.getSession().setMode("ace/mode/java");
    editor.$blockScrolling = Infinity;

    var editor2 = ace.edit("editor2");
    //editor2.setTheme("ace/theme/default");
    editor2.getSession().setMode("ace/mode/java");
    editor2.$blockScrolling = Infinity;

    // var editor3 = ace.edit("editor3");
    // editor3.setTheme("ace/theme/default");
    // editor3.getSession().setMode("ace/mode/java");
    // editor3.$blockScrolling = Infinity;
    </script>
 
  <script>
        
        $(function () {
            $("#jstree").jstree({
                "core" : {
                "check_callback" : function (operation, node, node_parent, node_position, more) {
			            // operation can be 'create_node', 'rename_node', 'delete_node', 'move_node' or 'copy_node'
			            // in case of 'rename_node' node_position is filled with the new node name			            
			            var validator;

			            //console.log(typeof node_parent.data);	
			            if(typeof node_parent.data == 'undefined'){
			            	return false;
			            }
			           // console.log(node.data['renderas']);
			           // console.log(node_parent.data['renderas']);			           
			            validator = node_parent.data['renderas'] === 'component' ? true : false;	
			            if(validator && operation == 'move_node'){
			            	
			            	validator = node.data['renderas'] === 'archive' ? true : false;	

			            }	
			            return validator;
			            
			        }
            },
            "plugins" : [  "contextmenu","dnd" ],
            "contextmenu": {
		        "items": function ($node) {
		            return {
		                "Create": {
		                    "label": "Add Template",
		                    "action": function (obj) {
		                        // this.create(obj);
		                        //alert('render');
		                        getCode();
		                    }
		                },
		                "Rename": {
		                    "label": "Rename Template",
		                    "action": function (data) {
		                       // this.rename(obj);
		                       	var inst = $.jstree.reference(data.reference),
								obj = inst.get_node(data.reference);
								inst.edit(obj);
								console.log(data);
		                    }
		                },
		                "Delete": {
		                    "label": "Delete Template",
		                    "action": function (obj) {
		                        this.remove(obj);
		                    }
		                }
		            };
		        }
		    }
            });
        });


	function getCode(){
		$.get( "http://localhost:8000/gencoui/code", function( data ) {
		editor.setValue(data);	
		});	
	};



  $(function () {
    // 6 create an instance when the DOM is ready
    $('#jstree').jstree();
    // 7 bind to events triggered on the tree
    $('#jstree').on("changed.jstree", function (e, data) {
      console.log(data.selected);

		// $.get( "http://localhost:8000/gencoui/code", function( data ) {
		//   editor.setValue(data);
		// });

      //editor.setValue(data.selected.toString());
    });
    // 8 interact with the tree - either way is OK
    $('button').on('click', function () {
      $('#jstree').jstree(true).select_node('child_node_1');
      $('#jstree').jstree('select_node', 'child_node_1');
      $.jstree.reference('#jstree').select_node('child_node_1');
    });

  });
  </script>

{% endblock %}

