{% load staticfiles %}
{% load static %}
{% block extrajs %}
	<script type="text/javascript">
		$(function () {
		  $('[data-tt="tooltip"]').tooltip()
		});
	</script>
{% endblock %}
{% block content %}
<div id="ctrl_env" ng-controller="ctrl_env">
	  	  		  	

    <div class="panel-body">
   

		<div style="padding: 10px;" >

			<p style="display:inline;">Projects</p>
				
			<a class="btn icon-btn btn-default" ng-click="create_project()" data-placement="bottom"data-tt="tooltip" title="Save">
		<span class="glyphicon btn-glyphicon glyphicon-plus img-circle" ></span>					
			</a>

			<div style="border: 1px solid #e3e3e3;border-radius: 4px;padding: 10px; margin-top: 20px;  background-color:rgba(236, 240, 241, 0.39);">
				{% verbatim %}
			  	<div ng-repeat="prj in envProjects" style="display:inline;">
			  		<a class="btn btn-default btn-sm" href="module/builds/gb/{{prj.id_proyecto}}">
			    	{{prj.nombre}}
			    	</a>
			  	</div>
			  	{% endverbatim %}
				</div>

		</div>	


	</div>
	<div class="modal fade" id="create-project-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">

	    <div class="modal-dialog">

	        <div class="modal-content">
		        <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ><span aria-hidden="true">&times;</span></button>
			        <h4 class="modal-title">Create Project</h4>
			    </div>
	          <!-- <div class="arrow-up"></div> -->
	          	<div class="modal-body">
	   
	   	   				<form ng-submit="save_project()">
							{{ form_project }}				
							<button type="submit" hidden></button>
						</form>			

	          	</div>
	          	<div class="modal-footer">
	          		<div style="display:inline">
		          		<a class="btn icon-btn btn-default" ng-click="save_project()" data-placement="bottom"data-tt="tooltip" title="Save">
							<span class="glyphicon btn-glyphicon glyphicon-floppy-disk img-circle" ></span>					
						</a>
					</div>
					<div style="display:inline">	
						<a class="btn icon-btn btn-default" data-dismiss="modal" data-placement="bottom"data-tt="tooltip" title="Cancel">
								<span class="glyphicon btn-glyphicon glyphicon-remove img-circle" ></span>					
						</a>
					</div>	
	          	</div>

	        </div>
	    </div>
	</div>  
</div>


{% endblock %}
