{% load staticfiles %}

{% block content %}
<div class="container-fluid">
	  	<h2>Builds</h2>	  		  	
	  	<div class="form-group">		  	
		 	<div class="input-group">		    
			    <input type="text" class="form-control">
			    <span class="input-group-btn">
			      <button class="btn btn-default" type="button"><i class="glyphicon glyphicon-search"></i></button>
			    </span>
		  </div>
		</div>

		<div class="panel panel-default">
  		<!-- Default panel contents -->

  		<div class="panel-heading">
  			<!-- <img src="{% static 'gencoui/img/ic_save_24px.svg' %}" alt="Kiwi standing on oval"></i> -->
  			<i class="glyphicon glyphicon-oil"></i> Repositories
  		</div>
			<table class="table table-striped table-hover ">
			  <!-- <thead>
			    <tr>
			      <th>#</th>
			      <th>Column heading</th>
			      <th>Column heading</th>
			      <th>Column heading</th>
			    </tr>
			  </thead> -->
			  <tbody>
			    <tr>
			      <td>1</td>
			      <td>Column content</td>
			      <td>Column content</td>
			      <td>Column content</td>
			    </tr>
			    <tr>
			      <td>2</td>
			      <td>Column content</td>
			      <td>Column content</td>
			      <td>Column content</td>
			    </tr>
		  	  </tbody>
			</table> 
			<div style="text-align:center">
				<ul class="pagination" >
				  <li class="disabled"><a href="#">&laquo;</a></li>
				  <li class="active"><a href="#">1</a></li>
				  <li><a href="#">2</a></li>
				  <li><a href="#">3</a></li>
				  <li><a href="#">4</a></li>
				  <li><a href="#">5</a></li>
				  <li><a href="#">&raquo;</a></li>
				</ul>
			</div>	
		</div>	

</div>


{% endblock %}
