{% load staticfiles %}
<nav class="navbar navbar-default navbar-fixed-top" style="">
    <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
            {% if user.is_authenticated %}
            <div style="background-color: #fff; border-radius: 10px; padding-top: 3px; padding-bottom: 3px; padding-left:10px; padding-right: 10px;margin-top: 8px;" data-toggle="modal" data-target="#menu">
                <img alt="Brand" src="{% static 'gencoui/img/rndr/getbeta.png' %}" onerror="this.onerror=null; this.src='{% static 'gencoui/img/rndr/noimage.jpg' %}'" width="76px"  sytle="top:10px"></img>
            </div>

            {% else %}
            <div style="background-color: #fff; border-radius: 10px; padding-top: 3px; padding-bottom: 3px; padding-left:10px; padding-right: 10px;margin-top: 8px;">
                <img alt="Brand" src="{% static 'gencoui/img/rndr/getbeta.png' %}" onerror="this.onerror=null; this.src='{% static 'gencoui/img/rndr/noimage.jpg' %}'" width="76px" sytle="top:10px"/></img>
            </div>
            
            
            {% endif %}
            </a>
        </div>
        <div style="float: right; margin-top:20px">
            {% if user.is_authenticated %}
                <div style="display:inline;padding:15px">
                    <a href="/gencoui" style="color:#202077" data-placement="bottom" data-tt="tooltip" title="Go Main Panel">
                        <span style="display:inline;" class="glyphicon glyphicon-home"></span>
                    </a>
                </div>
                <div style="display:inline;background-color: #eee; border-radius: 10px; padding-top: 3px; padding-bottom: 3px; padding-left:10px; padding-right: 10px;margin-top: 8px;">
                    <p style="display:inline; font-size:12px; color:#202077">{{request.session.wsname}} - {{ user.get_username }}</p>    
                </div>                
                <div style="display:inline;padding:15px">
                    <a style="color:#202077" data-placement="bottom" data-tt="tooltip" title="Close Session" href="/login/logout">
                        <span style="display:inline;" class="glyphicon glyphicon-off"></span>
                    </a>
                </div> 
                
            {% else %}
                <div style="display:inline;padding:15px">
                    <a href="/login" style="color:#202077" data-placement="bottom" data-tt="tooltip" title="Go Main Panel">
                        <span style="display:inline;" class="glyphicon glyphicon-menu-left"></span>
                    </a>
                </div>
                <p style="color:#202077; display:inline;">Welcome</p>
            {% endif %}


        </div>  
        <!-- Collect the nav links, forms, and other content for toggling -->
<!--         <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">

                <li>
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <span class="caret"></span>
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                        Angel Barrios           
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li><a href="#">Profile</a></li>                            
                            <li role="separator" class="divider"></li>
                            <li>
                                <div>
                                    <label class="radio-inline">
                                      <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">Group A
                                    </label>
                                    <label class="radio-inline">
                                      <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">Group B
                                    </label>                                    
                                    </div>                              
                            </li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Logout</a></li>  
                        </ul>
                    </div>  
                </li>
            </ul>
        </div> --><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->

</nav>

<!-- Modal -->
<div class="modal fade" id="menu" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">

    <div class="modal-dialog" role="document"  style="margin-left: 10px; margin-top: 60px; max-width: 400px;">
        
        <div class="modal-content">
        <!--       <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Menu</h4>
          </div> -->
          <div class="arrow-up"></div>
          <div class="modal-body">
            <table width="100%">
                <tr>
                    <td width="60px" height="60px" onmouseover="this.style.background='#EBF4EB';" onmouseout="this.style.background='white';" style="border: 2px solid #eee;">
                        <div style="text-align:center" >
                            <a href="/gencoui">
                                <img src="{% static 'gencoui/img/rndr/environment.svg' %}" width="32px"></div>
                            </a>
                        </div>
                    </td>
                    <td width="60px" height="60px" onmouseover="this.style.background='#EBF4EB';" onmouseout="this.style.background='white';" style="border: 2px solid #eee;">
                        <div style="text-align:center">
                            <a href="{% url 'gencoui:module' 'langs' %}">
                                <img src="{% static 'gencoui/img/rndr/langs.svg' %}" width="32px"></div>
                            </a>
                        </div>
                    </td>
                    <td width="60px" height="60px" onmouseover="this.style.background='#EBF4EB';" onmouseout="this.style.background='white';" style="border: 2px solid #eee;">
                        <div style="text-align:center">
                            <a href="{% url 'gencoui:module' 'entities' %}">
                                <img src="{% static 'gencoui/img/rndr/repository.svg' %}" width="32px"></div>
                            </a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td width="60px" height="60px" onmouseover="this.style.background='#EBF4EB';" onmouseout="this.style.background='white';" style="border: 2px solid #eee;">
                        <!-- <div style="text-align:center">
                            <img src="{% static 'gencoui/img/rndr/design_shortcut.svg' %}" onerror="this.onerror=null; this.src='{% static 'gencoui/img/rndr/noimage.jpg' %}'" width="48px" >
                            </img>
                        </div> -->
                    </td>
                    <td width="60px" height="60px" onmouseover="this.style.background='#EBF4EB';" onmouseout="this.style.background='white';" style="border: 2px solid #eee;">
                        <!-- <div style="text-align:center">
                            <img src="{% static 'gencoui/img/rndr/build_shortcut.svg' %}" onerror="this.onerror=null; this.src='{% static 'gencoui/img/rndr/noimage.jpg' %}'" width="48px" >
                            </img>
                        </div> -->
                    </td>
                    <td width="60px" height="60px" onmouseover="this.style.background='#EBF4EB';" onmouseout="this.style.background='white';" style="border: 2px solid #eee;">
                        <div style="text-align:center" >
                            <a class="btn btn-default btn-xs" role="button" data-placement="bottom" data-tt="tooltip" title="Close Session" href="/login/logout" style="width:32px">
                                <span style="display:inline;" class="glyphicon glyphicon-off"></span>
                            </a>
                        </div>                        
                    </td>
                </tr>
            </table>
            
          </div>

        </div>
    </div>
</div>

    
<div id="BusyOverlay" tabindex="-1" >
        <div id="loader"></div> 
</div>
